<div class="w-full flex flex-col items-center">
  <a [routerLink]="['p/', product.id]" class="my-3"
    ><img
      src="{{ product.imageUrl }}"
      alt="{{ product.name }}"
      class=""
      style="max-width: 200px"
    />
  </a>
  <h3 class="text-2xl font-bold text-center">
    <a [routerLink]="['p/', product.id]">{{ product.name }}</a>
  </h3>
  <p>{{ product.description }}</p>
  <p class="font-bold">{{ product.price }}$</p>
  <form (ngSubmit)="onSubmit()" #quantityForm="ngForm" class="my-3">
    <select
      title="quantity"
      name="quantity"
      [(ngModel)]="orderItem.quantity"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9]" value="{{ n }}">
        {{ n }}
      </option>
    </select>
    <button
      type="submit"
      class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
    >
      Add to cart
    </button>
  </form>
</div>
